*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.account-page{
  padding: 50px 0;
  margin-top: -50px;
  background:radial-gradient(rgb(255, 255, 255) 1.5%, rgb(135, 174, 220) 100.3%);
}
body{
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.form-container{
  background: #fff;
  width: 300px;
  height: 450px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn{
  display: inline-block;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}
form .txtInput{
  width: 260px;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}
#LoginForm{
  left: 0px;
}
#RegForm{
  left: 300px;
}
form a{
  font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none;
  background: #12259e;
  height: 3px;
  margin-top: 8px;
  transform: translateX(0px);
  transition: transform 1s;
}

.btn{
  display: inline-block;
  background: #3957a6;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: #161d4a;
}